{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ROCKET STRORE - {% block titulo %}...{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'tienda/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'tienda/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'tienda/css/login.css' %}" />
    <link rel="stylesheet" href="{% static 'tienda/css/iniciarSesion.css' %}" />
    <link rel="stylesheet" href="{% static 'tienda/css/registrarse.css' %}" />
    <link rel="stylesheet" href="{% static 'tienda/css/cambioClave.css' %}" />



    

</head>

<body>
    <nav style="height:110px;" class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a href="{% url 'index' %}"> <img src="{% static 'tienda/img/icono.png' %}" alt="Logo" style="width:100px; padding:10px" class="rounded-pill"> </a>

        <div class="container-fluid">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-link active" href="#" role="button"
                            data-bs-toggle="dropdown">Usuario</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item">Registrarse</a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="#">Editar perfil</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-link active" href="#" role="button"
                            data-bs-toggle="dropdown">Pedido</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="solicitarPedido.html">Solicitar Pedido</a>
                            </li>
                            <li><a class="dropdown-item" href="#">Devolver Pedido</a></li>
                            <li><a class="dropdown-item" href="#">Cancelar Pedido</a></li>
                            <li>
                                <a class="dropdown-item" href="#">Calificar Pedido Realizado</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Reportar inconformidad sobre un pedido</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-link active" href="#" role="button"
                            data-bs-toggle="dropdown">Devoluciones</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="recopilarInformacion.html">Recopilar Información personal
                                    del cliente</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Guardar información acerca de los gustos del
                                    cliente</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Editar información personal del cliente</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Almacenar registro del cliente</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-link active" href="#" role="button"
                            data-bs-toggle="dropdown">Productos</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="productos.html">Ver productos</a>
                            </li>
                            <li><a class="dropdown-item" href="#">Queja</a></li>
                            <li><a class="dropdown-item" href="#">A third link</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="d-flex gap-3">
                    <button style="background-color: #feab01" class="btn" data-bs-toggle="modal" data-bs-target="#iniciarSesion"
                        type="button">
                        INICIAR SESION
                    </button>
                    
                    
                    <button style="background-color: #feab01" class="btn"  data-bs-toggle="modal" data-bs-target="#registrar">
                        REGISTARSE
                    </button>
                </div>

                <ul class="d-flex navbar-nav" style="margin-right:0.4rem;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Bienvenido <strong>{{ request.session.logueo.nombre }}</strong> ({{ request.session.logueo.nombre_rol }})
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'ver_perfil' %}">Perfil</a></li>
                            <li><a class="dropdown-item" href="{% url 'cc_formulario' %}">Cambiar Contraseña</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link position-relative" href="javascript:ver_carrito(`{% url 'carrito_ver' %}`);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-cart-check" viewBox="0 0 16 16">
                                <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                            </svg>
                            <span class="position-absolute top-20 start-100 translate-middle badge rounded-pill bg-danger" id="items_carrito">
                            {{ request.session.items|default:"0" }}
                            </span>
                        </a>
                    </li>

                </ul>

            
        </div>
    </nav>

    <div class="modal fade" id="iniciarSesion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content formInicio" id="">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        INICIAR SESION
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="{% url 'login' %}" method="post" class="m-3 text-center">
                        {% csrf_token %}
                        <div class="mb-3 mt-3">
                            <label for="email" class="form-label">Correo electronico:</label>
                            <input type="email" class="form-control" id="email" placeholder="Ingresar correo"
                                name="correo" />
                        </div>
                        <div class="mb-3">
                            <label for="pwd" class="form-label">Contraseña:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Ingresar contraseña"
                                name="clave" />
                        </div>
                        <div class="form-check mb-3">
                            <a href="">¿HAS OLVIDADO LA CONTRASEÑA?</a>
                        </div>
                        <button type="submit" class="btn btn-dark">REGISTRARSE</button>
                        <button type="submit" class="btn btn-danger">INICIAR SESION</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="registrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="formRegistrar">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        REGISTRARSE
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <form action="/action_page.php">
                    <div class="mb-3 mt-3">
                        <label for="email" class="form-label">Nombre de usuario:</label>
                        <input type="email" class="form-control" id="email" placeholder="Ingresar nombre de usuario"
                            name="email" />
                    </div>

                    <div class="mb-3 mt-3">
                        <label for="email" class="form-label">Correo electronico:</label>
                        <input type="email" class="form-control" id="email" placeholder="Ingresar correo"
                            name="email" />
                    </div>

                    <div class="mb-3">
                        <label for="pwd" class="form-label">Contraseña:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Ingresar contraseña"
                            name="pswd" />
                    </div>

                    <div class="mb-3">
                        <label for="pwd" class="form-label">Confirmar contraseña:</label>
                        <input type="password" class="form-control" id="pwd"
                            placeholder="Ingresa nuevamente la contraseña" name="pswd" />
                    </div>

                    <div class="mb-3">
                        <label for="pwd" class="form-label">Numero de celular:</label>
                        <input class="form-control" id="pwd" placeholder="Ingresar numero de celular" name="pswd" />
                    </div>

                    <button type="submit" class="btn btn-danger">CREAR CUENTA</button>
                </form>
            </div>
            </div>
        </div>

    </div>

   
     

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags and message.tags != 'error' %}{{ message.tags }}{% else %}danger{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}


    {% block contenedor %}
        ...
    {% endblock %}


    <div style="background-color: #000000" class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">

        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">
                <div class="spinner-border text-primary d-block" role="status" id="loader">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </h5>

            <h1 style="color:white;"> Carrito</h1>

            <button  type="button" class="btn-close btn btn-warning" data-bs-dismiss="offcanvas" aria-label="Close" > </button>

        </div>

        <div class="offcanvas-body" id="respuesta_carrito"></div>
    </div>

    <script src="{% static 'tienda/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'tienda/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'tienda/js/libreria.js' %}"></script>


    <br>

    <footer>
        <div class="container">
            <div class="rowss">
                <img src="{% static 'tienda/img/icono.png' %}" alt="Avatar Logo" style="width: 100px" class="rounded-pill" />
                <div>
                    <h3>AYUDA</h3>
                    <ul style="list-style: none">
                        <li><a href="#">ESTADO DEL PEDIDO</a></li>
                        <li><a href="#">ENVIO Y ENTREGA</a></li>
                        <li><a href="#">DEVOLUCIONES</a></li>
                        <li><a href="#">CANCELACION DE PEDIDO</a></li>
                        <li><a href="#">OPCIONES DE PAGO</a></li>
                    </ul>
                </div>
                <div>
                    <h3>ACERCA DE ROCKET</h3>
                    <p>NOTICIAS</p>
                    <p>TRABAJA CON NOSOTROS</p>
                </div>
                <div>
                    <h3>SIGUENOS EN REDES SOCIALES</h3>
                    <ul style="list-style: none">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>