{% extends 'tienda/inicio/base.html' %}
{% load static %}
{% load humanize %}
{% block titulo %}Inicio{% endblock %}
{% block estilos %}
<link   rel="stylesheet"
        href="{% static 'tienda/css/main.css' %}">
{% endblock %}


{% block contenedor %}

    <div id="main">
        <div id="filtro">
            {% csrf_token %}
            <div id="botones">
                <a href="{% url 'inicio' %}" type="button" class="btn btn-warning">Ver todos</a> 
                <a href="{% url 'inicio' %}" type="button" class="btn btn-success">Filtrar</a>

            </div>
            {%  for c in etq %}
                <a id="categorias" href="{% url 'inicio' %}?cat={{ c.id }}"  >{{ c.nombre }}</a>
                <div>
                    {%  for e in c.subEtiquetas %}
                        <input type="checkbox" id="etiquetas" href="{% url 'inicio' %}?cat={{ c.id }}">{{ e.nombre }}</input><br>
                    {% endfor %}
                </div>
            {% endfor %}

        </div>
        <div id="productos">



        </div>
        <div id="otros">



        </div>
    </div>
    
{% endblock %}
